* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    height: 15vh;
    width: 100%;
    border: 1px solid rgb(228, 211, 211);
    display: flex;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;

}

.go_to_home {
    display: flex;
    width: 60%;
    border: none;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.go_to_home a {
    color: white;
}

.first-nac-int {
    display: flex;
    border-right: 1px solid rgb(239, 206, 206);
    width: 20%;
    height: 15vh;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.first-nac-int::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 1%;
    height: 0px;
    background: rgb(111, 26, 26);
    transition: all 0.4s ease;
    transform: translateX(-50%);
}

.first-nac-int::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 0%;
    height: 1px;
    background: rgb(111, 26, 26);
    transition: all 0.4s ease;
    transform: translateX(-50%);
}

.first-nac-int:hover::before {
    height: 50%;
}

.first-nac-int:hover::after {
    width: 80%;
}

.first-nac-int a>i {
    font-size: 1.3rem;
    color: rgb(250, 219, 255);
}

.outer_of-insta {
    display: flex;
    border: 1px solid rgb(239, 206, 206);
    width: 40%;
    align-items: center;
    justify-content: space-between;

}

.last-nav-int {
    width: 70%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgb(239, 206, 206);
}



.first-nac-int,
.last-nav-int a,
.insta-int a {
    color: rgb(247, 224, 224);
    text-decoration: none;
}

/* .insta-int======================= */

.insta-int {
    width: 30%;
    height: 15vh;
    display: flex;
    border: 1px solid rgb(239, 185, 185);
    align-items: center;
    border-bottom: none;
    justify-content: center;
    font-size: 1.3rem;
    width: 30%;
    position: relative;
}

.insta-int::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: -1%;
    width: 2.4%;
    height: 0px;
    background: rgb(111, 26, 26);
    transition: all 0.4s ease;
    transform: translateX(-50%);
}

.insta-int::after {
    content: "";
    position: absolute;
    bottom: -0.1px;
    left: 0%;
    width: 0%;
    height: 2px;
    background: rgb(111, 26, 26);
    transition: all 0.4s ease;
    transform: translatey(50%);
}
.insta-int:hover::before {
    height: 50%;
}

.insta-int:hover::after {
    width: 60%;
}